@font-face{
  font-family:'Coiny';
  src:url('../font/Coiny-Regular.ttf'),format('TrueType');
}

body{
  font-family:'Coiny';
  margin:0;
  background-color:#272648;
}
#main{
  display:flex;
  height:100vh;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

#title{
  color:#F5DC83;
  padding-bottom:1%;
  font-size:400%;
}
#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  font-size:150%;
}
#submit{
  border:none;
  border-radius:20px;
  font-family:'Coiny';
  font-size:120%;
  padding:1%;
  padding-left:5%;
  padding-right:5%;
  background-color:#F5DC83;
  color:#221F32;
}
#submit:hover{
  background-color:#221F32;
  color:#F5DC83;
}

label{
  padding-bottom:15%;
  font-size:130%;
}
input{
  background-color:#221F32;
  border:none;
  border-radius:20px;
  font-family:'Coiny';
  color:white;
  font-size:80%;
}
#inscription{
  padding-top:2%;
  display:flex;
  justify-content: center;
  text-decoration: none;
  color:white;
}
#inscription:hover{
  text-decoration:underline;
}
