body{
  margin:0;
  background-color:#272648;
}

/* DIV */
#messages{
  display:none;
  border-radius:20px;
  flex-direction: column;
  align-items:flex-start;
  width:80vw;
  height:65vh;
  float:right;
  padding-right:2%;
  background-color:#221F32;
  overflow-y:scroll;
  scrollbar-color: #141414 #272648;
  scrollbar-width: thin;
  scrollbar-gutter: stable both-edges;
}

#authentification{
  padding-top:45vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
#inputs{
  display:flex;
  padding-top:2%;
  justify-content:flex-end;
  padding-right:10vw;
}
#buttonStop{
  display:flex;
  justify-content:flex-end;
  padding-top:1%;
}
#buttonStart{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:#221F32;
  padding:1%;
  width:40vw;
  height:20vh;
  border-radius:20px;
  color:white;
}
.notme{
  color:white;
  padding-bottom:0.5%;
  background-color:#272648;
  padding:1%;
  margin:1%;
  border-radius:22px;
  width:30vw;
}
.me{
  background-color:#F5DC83;
  color:#221F32;
  align-self:flex-end;
  padding:1%;
  margin:1%;
  border-radius:22px;
  width:30vw;
  line-break:auto;

}
.info{
  display:flex;
  justify-content:space-between;
}
.contenu{
   word-break:break-word;
}
#Message{
  display:none;
  border:none;
  border-radius:20px;
  flex-wrap:wrap;
  padding-top:1%;
  padding-bottom:1%;
  margin-right:2%;
  font-family:'Coiny';
  font-size:120%;
  color:white;
  background-color:#221F32;
  scrollbar-color: #141414 #272648;
  scrollbar-width: thin;
}

#submit{
  display:none;
  border:none;
  padding:2%;
  border-radius:20px;
  background-color:#17661F;
  font-family:'Coiny';
  font-size:120%;
  color:white;

}
#textNotif{
  font-size:150%;
  width:100%;
  text-align: center;

}
#startButton{
  border:none;
  border-radius:20px;
  font-family:'Coiny';
  color:white;
  background-color:#17661F;
  padding:1%;
  font-size:100%;
}
#stopButton{
  display:none;
  justify-content:center;
  width:50px;
  height:50px;
  margin-bottom:1%;
  margin-right:1%;
  background-color:#A02020;
  border:none;
  border-radius:120%;
}
#pasConnecter{
  margin:0;
  color:white;
}
#nbNotif{
  background-color:#A02020;
  padding:1%;
  border-radius:100%;
}
a{
  font-size:180%;
  color:#F5DC83;
  text-decoration: none;
}
a:hover{
  color:#17661F;
}
