@font-face{
  font-family:'Coiny';
  src:url('../font/Coiny-Regular.ttf'),format('TrueType');
}

body{
  margin:0;
  font-family:'Coiny';
  font-weight: normal;
}

/* GESTIONS DES DIVS */
#main{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  width:15vw;
  height:100vh;
  background-color:#221F32;
  float:left;
}
#logo{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#user{
  display:flex;
  justify-content: center;
  padding-bottom:5vh;
}

/*ELEMENTS*/

/*Relatif à la div logo*/
#title{
  margin:0;
  color: #F5DC83;
  font-size:220%;
}
#img{
  width:60%;
}

/*Bouton connexion et deconnexion*/
.connexionDeco{
  color:white;
  text-decoration: none;
  font-size:150%;
}
  #connexion:hover{
    color:#17661F;
  }
  #deconnexion:hover{
    color:#A02020;
  }
